.input-group-text {
    font-family: "Segoe UI Emoji";
}

.time-icon:before {
    content: "\1f55b";
}

.fa-arrow-down:before {
    content: "\25BC";
}

.fa-arrow-up:before {
    content: "\25B2";
}

