<form>
  <div class="container">
    <div class="switchToggle mt-2">
      <input type="checkbox" id="schedule-entry-{{id}}" name="enabled"
             [(ngModel)]="state.enabled" (ngModelChange)="update()" />
      <label for="schedule-entry-{{id}}"></label>
    </div>
  </div>

  <div class="container">
    <h3>開始時刻</h3>
    <div class="form-group">
      <div class="input-group date" id="schedule-entry-time-{{id}}" data-target-input="nearest" NgTempusdominusBootstrap>
        <input type="time" class="form-control datetimepicker-input" [attr.data-target]="'#schedule-entry-time-' + id"
               [(ngModel)]="state.time" (ngModelChange)="update()"
               name="time-{{id}}" NgTempusdominusBootstrapInput [options]="timeOptions"
               [disabled]="!state.enabled" />
        <div class="input-group-append" [attr.data-target]="'#schedule-entry-time-' + id" data-toggle="datetimepicker">
          <div class="input-group-text time-icon"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>散水時間</h3>
    <div class="input-group mb-3">
      <input class="form-control" name="period-{{id}}"
             [(ngModel)]="state.period" (ngModelChange)="update()"
             type="number" min="1" max="30" value="42"
             aria-label="散水する期間を分単位で指定します．"
             id="schedule-period" [disabled]="!state.enabled" />
      <div class="input-group-append">
        <span class="input-group-text">min</span>
      </div>
    </div>
  </div>
</form>

