image: docker:24.0

stages:
    - build
    - test
    - renovate

build-angular:
    stage: build
    image: node:20.3
    script:
        - npm ci --cache .npm --prefer-offline
        - npm run build
    artifacts:
        paths:
            - dist/
    cache:
        key: npm
        paths:
            - .npm/

test-cypress:
    stage: test
    image: cypress/included:12.13.0
    script:
        - npm ci --cache .npm --prefer-offline
        - npx start-server-and-test 'ng serve' http-get://localhost:4200/ 'npx cypress run'
    cache:
        key: npm
        paths:
            - .npm/

test-flask:
    stage: test
    image: ubuntu:22.04
    script:
        - apt update
        - apt install -y tzdata
        - apt install -y git
        - apt install -y python3-flask
        - apt install -y python3-yaml
        - apt install -y python3-schedule
        - apt install -y python3-fluent-logger
        - apt install -y python3-coloredlogs
        - apt install -y python3-psutil
        - apt install -y python3-pip
        - pip install -r requirements.txt
        - python3 -m playwright install
        - python3 -m playwright install-deps
        - export GIT_SSL_NO_VERIFY=1
        - git clone https://gitlab.green-rabbit.net/kimata/hems_config.git
        - mv hems_config/rasp-water.yaml config.yaml
        - python3 ./flask/app/app.py > flask.log 2>&1 &
        - python3 -m pytest test/test_basic.py
    artifacts:
        paths:
            - flask.log
    dependencies:
        - build-angular

renovate:
    stage: renovate
    image:
        name: registry.green-rabbit.net:5000/kimata/local_renovate:35

        entrypoint: [""]
    script:
        - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - changes:
              - renovate.json
