---
webapp:
    timezone:
        offset: "+9"
        name: JST
        zone: Asia/Tokyo

    static_dir_path: dist/rasp-water

    data:
        schedule_file_path: flask/data/schedule.dat
        log_file_path: flask/data/log.db
        stat_dir_path: /dev/shm

fluent:
    host: proxy.green-rabbit.net

    data:
        hostname: rasp-water-1
        tag: hems

weather:
    yahoo:
        id: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    point:
        lat: 35.68
        lon: 139.73
    rain_fall:
        # NOTE: 4時間前から 3mm 以上の降雨があったら，雨降りと判定
        before_hour: 6
        threshold: 3

slack:
    bot_token: xoxb-XXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX

    from: Watering

    error:
        channel:
            name: "#error"
            id: XXXXXXXXXXX
        interval_min: 180

liveness:
    file:
        scheduler: flask/data/liveness/scheduler
        valve_control: flask/data/liveness/valve_control
        flow_notify: flask/data/liveness/flow_notify
