webapp:
    timezone:
        offset: "+9"
        name: JST
        zone: Asia/Tokyo

    static_dir_path: dist/rasp-water

    data:
        schedule_file_path: flask/data/schedule.dat
        log_file_path: flask/data/log.db
        stat_dir_path: /dev/shm

control:
    gpio: 18

flow:
    sensor:
        scale:
            # 流量計の A/D 値が 5V の時の流量
            max: 12
        adc:
            # 流量計をモニタする ADC の設定 (ADS1015 のドライバ ti_ads1015 が公開)
            scale_file: /sys/bus/iio/devices/iio:device0/in_voltage0_scale
            scale_value: 3

            # 流量計のアナログ出力値 (ADS1015 のドライバ ti_ads1015 が公開)
            value_file: /sys/bus/iio/devices/iio:device0/in_voltage0_raw

    offset: 0.18

    threshold:
        # 異常とみなす流量
        error: 20

fluent:
    host: proxy.green-rabbit.net

    data:
        hostname: rasp-water-1
        tag: hems

influxdb:
    url: http://proxy.green-rabbit.net:8086
    org: home
    token: strBCB9segqccgxsR5Xe_9RnCqkBFYX9aOKvxVR4lr3iLEb7HXuGqsN40YU6DIb6TZm9bvKLW5OWQS7sB8AQbQ==
    bucket: sensor

weather:
    rain_fall:
        forecast:
            yahoo:
                id: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            point:
                lat: 35.68
                lon: 139.73
            threshold:
                # NOTE: 6時間前から 3mm 以上の降雨があったら、見合わせる
                before_hour: 6
                sum: 3
        sensor:
            hostname: rasp-weather-1
            measure: sensor.rasp
            threshold:
                # NOTE: 前回水やりしてから 10mm 以上の降雨があったら、見合わせる
                sum: 10

slack:
    bot_token: xoxb-XXXXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX

    from: Watering

    error:
        channel:
            name: "#error"
            id: XXXXXXXXXXX
        interval_min: 180

liveness:
    file:
        scheduler: flask/data/liveness/scheduler
        valve_control: flask/data/liveness/valve_control
        flow_notify: flask/data/liveness/flow_notify
