[tool.poetry]
name = "rasp-water"
version = "0.1.0"
description = "Raspberry Pi を使って自動的に水やりをするシステムです．"
authors = ["KIMATA Tetsuya <kimata@green-rabbit.net>"]

[tool.poetry.dependencies]
python = "^3.10"
influxdb-client = {extras = ["ciso"], version = "^1.36.1"}
slack-bolt = "^1.18.0"
docopt = "^0.6.2"
PyYAML = "^6.0"
Flask = "^2.3.2"
Flask-Cors = "^4.0.0"
coloredlogs = "^15.0.1"
schedule = "^1.2.0"
psutil = "^5.9.5"
fluent-logger = "^0.10.0"
slack-sdk = "^3.21.3"
"RPi.GPIO" = "^0.7.1"
uptime = "^3.0.1"
pytz = "^2023.3"

[tool.poetry.group.test.dependencies]
flaky = "^3.7.0"
playwright = "^1.36.0"
pytest-cov = "^4.1.0"
pytest-freezegun = "^0.4.2"
pytest-html = "^3.2.0"
pytest-mock = "^3.11.1"
pytest-playwright = "^0.3.3"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--verbose --cov=app --cov=flask --capture=sys --cov-report=html --html=tests/evidence/index.htm --self-contained-html"
testpaths = [
    "tests",
]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "if __name__ == .__main__.:",

  # 以下，未使用関数
  # config.py
  "def get_db_config",

  # logger.py
  "class GZipRotator",
  "def log_formatter",
  "if log_dir_path is not None:",
  "if log_queue is not None:",
  "if is_str_log:",

  # notify_slack.py
  "def info",
  "def error_img",
  "def error_with_image",

  # webapp_event.py
  "def notify_watch_impl",
  "def notify_watch",
  "def stop_watch",

  # webapp_log.py
  "elif level == APP_LOG_LEVEL.WARN:",

  # flask_util.py
  "def remote_host",
]

[tool.coverage.html]
directory = "tests/evidence/coverage"

[tool.black]
target-version = ['py39']
line-length = 120


[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 5
include_trailing_comma = true


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
