[tool.poetry]
name = "rasp-water"
version = "0.1.0"
description = "Raspberry Pi を使って自動的に水やりをするシステムです．"
authors = ["KIMATA Tetsuya <kimata@green-rabbit.net>"]

[tool.poetry.dependencies]
"RPi.GPIO" = "^0.7.1"
Flask = "^2.3.2"
Flask-Cors = "^4.0.0"
PyYAML = "^6.0"
coloredlogs = "^15.0.1"
docopt = "^0.6.2"
fluent-logger = "^0.10.0"
influxdb-client = {extras = ["ciso"], version = "^1.36.1"}
psutil = "^5.9.5"
python = "^3.10"
pytz = "^2023.3"
# NOTE: 1.2.2 で入ったタイムゾーン周りのバグ修正が悪さをするので，一旦 1.2.1 に固定する．
# 1.2.2 移行にする場合，おそらくテストコードも修正必要．
schedule = "1.2.1"
slack-sdk = "^3.21.3"
uptime = "^3.0.1"
tzlocal = "^5.0.1"

[tool.poetry.group.test.dependencies]
flaky = "^3.7.0"
playwright = "^1.36.0"
pytest-cov = "^5.0.0"
pytest-freezegun = "^0.4.2"
pytest-html = "^4.0.0"
pytest-mock = "^3.11.1"
pytest-playwright = "^0.4.0"
pytest-xdist = "^3.3.1"

[tool.pytest.ini_options]
minversion = "6.0"

addopts = "--verbose --log-cli-level=DEBUG --log-file-level=DEBUG --log-format=\"%(asctime)s %(levelname)s %(message)s\" --log-format=\"%(asctime)s %(levelname)s [%(filename)s:%(lineno)s %(funcName)s] %(message)s\" --capture=sys  --html=tests/evidence/index.htm --self-contained-html"

testpaths = [
    "tests",
]
filterwarnings = [
    "ignore:The hookimpl CovPlugin.pytest_configure_node uses",
    "ignore:The hookimpl CovPlugin.pytest_testnodedown uses",
    "ignore::DeprecationWarning:pytest_freezegun",
]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "if __name__ == .__main__.:",

  # 以下，未使用関数
  # config.py
  "def get_db_config",

  # logger.py
  "class GZipRotator",
  "def log_formatter",
  "if log_dir_path is not None:",
  "if log_queue is not None:",
  "if is_str_log:",

  # notify_slack.py
  "def info",
  "def error_img",
  "def error_with_image",

  # webapp_event.py
  "def notify_watch_impl",
  "def notify_watch",
  "def stop_watch",

  # webapp_log.py
  "elif level == APP_LOG_LEVEL.WARN:",

  # flask_util.py
  "def remote_host",
]

[tool.coverage.html]
directory = "tests/evidence/coverage"

[tool.black]
target-version = ['py310']
line-length = 110

[tool.isort]
profile = "black"
line_length = 110
include_trailing_comma = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
